@model IEnumerable<EMMA.Models.NHANVIEN>

@{
    ViewBag.Title = "DanhSachNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachNV</h2>

<p>
    @Html.ActionLink("Create New", "ThemMoiNV")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QueQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrinhDoHocVan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUCVU.TenCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUONG.BacLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONGBAN.TenPB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrinhDoHocVan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUCVU.TenCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUONG.BacLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONGBAN.TenPB)
        </td>
        <td>
            @Html.ActionLink("Edit", "CapNhatNV", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "XoaNV", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
