@model IEnumerable<EMMA.Models.NHANVIEN>

@{
    ViewBag.Title = "DanhSachNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachNV</h2>

<p>
    @Html.ActionLink("Create New", "ThemMoiNV")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Avt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUCVU.TenCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUONG.BacLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONGBAN.TenPB)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Avt" style="width:100px; height:100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUCVU.TenCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUONG.BacLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONGBAN.TenPB)
        </td>

        <td>
            @Html.ActionLink("Edit", "CapNhatNV", new { id = item.MaNV }) |
            @Html.ActionLink("Details", "ChiTietNV", new { id = item.MaNV }) |
            @Html.ActionLink("Delete", "XoaNV", new { id = item.MaNV })
        </td>
    </tr>
}

</table>
