@model IEnumerable<EMMA.Models.LUONG>

@{
    ViewBag.Title = "DSLuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DSLuong</h2>

<p>
    @Html.ActionLink("Create New", "ThemLuong")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSPhuCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNgayNghi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LuongCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSPhuCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNgayNghi)
            </td>
            <td>
                @Html.ActionLink("Edit", "CapNhatLuong", new { id = item.BacLuong }) |
                @Html.ActionLink("Delete", "XoaLuong", new { id = item.BacLuong })
            </td>
        </tr>
        @Html.ActionLink("Back to home", "Index")
    }

</table>
